{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
	<!-- ========== Swipper Slide CSS Link ========= -->
	<!-- ======= Custom CSS Styling -->
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
   {% include 'navbar.html' %}

   <div class="container">
      <div class="row d-flex justify-content-center align-items-center" style="height: 70vh;">
         <div class="col-12 col-md-6 text-center">
               <h2 class="text-success h1" style="font-size: 3rem;"> <span class="material-symbols-outlined text-success h2 py-0">check_circle_unread</span> Thank You for Your Order!</h2>
               <p class="text-muted pt-2" style="font-size: 1.1rem;">Your order has been placed successfully. We’ve sent a confirmation email with your order details to your inbox.</p>
               <p><a href="{% url 'shop' %}" class="btn btn-success rounded px-5 py-2">Back to RV Invetory</a></p>
         </div>
      </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}