
/* ---------- Layout ---------- */

.body{
   background-image: url('../images/paper-texture.png');
   background-size: auto;
   background-repeat: repeat;
   font-family: var(--inter);

}


.page-location{
   padding: 20px;

   a, h1{
        font-size: 0.9rem;
        color: var(--muted);
        line-height: 1rem;
        font-weight: 400;
   }
}

.container-fluid{
    padding: 0 2px;
}



#row1{
    
    .product-images{
        border-radius: 15px;
        background-color: var(--white-color);
        padding: 10px;
        margin-bottom: 20px;
    }

    .main-image{
        position: relative;
    }.main-image .img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
    }

    #wishlist-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: var(--white-color);
        padding: 8px;
        padding-bottom: 6px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }#wishlist-btn .material-symbols-outlined{
        margin: 0 !important;
        font-size: 1.7rem;
        padding: 0 !important;
        text-align: center;
    }

    .gallery-images .gallery-img{
        border-radius: 10px;
        width: 100%;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border: 1px solid var(--white-color);
        margin: 10px 0;
        padding: 1px;
    }.gallery-images .gallery-img#active{
        border-color: var(--theme-color-2);
    }


    .swiper-slide { 
        display:flex; align-items:stretch; 
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-color: var(--white-color);
        color: var(--text-color);                      
        width: 35px;                         
        height: 35px;                         
        border-radius: 50%;                   
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-button-next{
        right: -2px;
    }
    .swiper-button-prev {
        left: -2px;
    }

    /* Remove default arrow size and use custom size */
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 14px;
        font-weight: 900;
    }


    .info{
        border-radius: 15px;
        background-color: var(--white-color);
        padding: 15px;
        margin-bottom: 20px;
    }
    .info .name{
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: var(--inter);
        color: var(--text-color);
        font-weight: 700;
        padding: 10px 0;
    }
    .info .price-year{
        display: flex;
        justify-content: space-between;
    }
    .info .price-year .year{
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--text-color);
    }
    .price-box .sales-price{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--theme-color-2);
        text-align: end;
    }
    .price .original-price{
        font-size: 0.8rem;
        color: var(--muted);
        text-decoration: line-through;
    }
    .price .discount-percent{
        font-size: 0.8rem;
        color: var(--muted);
    }


    .info-item{
        font-size: 1rem;
        color: var(--text-color);
        padding: 5px 0;
    }
    .info-item .info-value{
        font-size: 1rem;
        color: var(--muted);
    }


    .btn-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    .btn-list .call-us, .btn-list .buy-now{
        width: 48%;
        padding: 15px;
        text-align: center;
        border-radius: 15px;
        color: var(--theme-color-2);
        background-color: rgba(52, 91, 6, 0.2);
        transition: all 0.2s ease;

        &:hover{
            color: var(--white-color);
            background-color: var(--theme-color-2);
        }
    }


    .request-form{
        padding: 10px 0;
    }.request-form .title{
        font-size: 1.1rem;
        color: var(--theme-color-2);
        padding: 20px 0 10px;
    }
    .form .field-wrapper{
        width: 100%;
    }
    .form .form-label{
        font-size: 0.95rem;
        color: var(--muted);
        position: relative;
    }
    .form .form-label .required-icon{
        font-size: 0.5rem;
        color: tomato;
        position: absolute;
        top: 3px;
        right: -10px;
    }
    .form .input-field, .form textarea{
        border: 1px solid rgba(52, 91, 6, 0.3);

        &:focus{
            border-color: var(--theme-color-2);
        }
    }
    .btn{
        background-color: rgba(52, 91, 6, 0.2);
        color: var(--theme-color-2);
        padding: 15px;

        &:hover{
            color: var(--white-color);
            background-color: var(--theme-color-2);
        }
    }


    .center-info{
        border-radius: 15px;
        background-color: var(--white-color);
        padding: 20px;
        margin-bottom: 20px;
    }
    .center-info .title{
        font-family: var(--head);
        color: var(--text-color);
        font-size: 1.2rem;
        font-weight: 500;
    }
    .center-info .adress-link{
        color: var(--muted);
        font-size: 1rem;
    }
    .center-info address .material-symbols-outlined{
        font-size: 1.3rem;
        color: var(--theme-color-2);
    }
    .working-hours .item{
        font-size: 1rem;
        color: var(--text-color);
        padding: 5px 0;
    }
    .working-hours .value{
        font-size: 1rem;
        color: var(--muted);
    }
}

#row2{

    .short-des{
        background-color: var(--white-color);
        padding: 20px 15px;
        border-radius: 15px;
        margin-bottom: 20px !important;
    }
    .short-des .content-header .title{
        font-size: 2rem;
        font-family: var(--head);
        color: var(--text-color);
    }
    .short-des .text{
        font-size: 1rem;
        color: var(--muted);
    }
    .short-des .icon-list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .short-des .icon-card{
        width: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .short-des .icon-card .title{
        display: block;
        width: 100%;
        font-size: 1.1rem;
        font-family: var(--head);
        color: var(--theme-color-2);
        text-align: center;
    }
    .short-des .icon-card .icon{
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--theme-color-2);
    }
    .short-des .icon-card .fa-solid{
        font-size: 1.5rem;
        color: var(--white-color);
    }
    .short-des .icon-card .material-symbols-outlined{
        font-size: 1.5rem;
        color: var(--white-color);
        font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
    }
}


#row3{
    .images-wrapper{
        border-radius: 15px;
        padding: 20px 15px;
        margin-bottom: 20px;
    }
    .sec-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .sec-header .title{
        font-size: 2rem;
        font-family: var(--head);
        color: var(--text-color);
    }
    .switch-plan{
        display: flex;
        border-radius: 10px;
        background-color: rgba(52, 91, 6, 0.2);
    }.switch-plan .btn{
        display: flex;
        font-size: 1rem;
        color: var(--theme-color-2);
        padding: 10px 15px;
        border-radius: 10px;
    }
    .switch-plan .btn.active{
        transition: all 0.2s ease;
        color: var(--white-color);
        font-weight: 500;
        background-color: var(--theme-color-2);

        .material-symbols-outlined{
            color: var(--white-color)
        }
    }
    .switch-plan .btn .material-symbols-outlined{
        font-size: 1.5rem;
        padding-left: 5px;
        font-weight: 500;
        color: var(--theme-color-2);
        font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
    }

    .rv-image{
        display: block;
        width: 100%;
    }
    .text{
        margin-top: 20px;
        font-size: 1rem;
        color: var(--muted);
    }
    .rv-image .img{
        width: 100%;
        height: auto;
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
        transition: all 0.3s ease-in-out;
    }
    .rv-image .img#dayPlan{
        display: block;
    }
    .rv-image .img#nightPlan{
        display: none;
    }
}


#row4{

    .sec-title{
        font-size: 2rem;
        color: var(--text-color);
        font-family: var(--head);
        padding-left: 12px;
        font-weight: 500;
    }
    .list-wrapper{
        margin: 20px 0 !important;
    }
    .list-wrapper .title{
        font-size: 1.1rem;
        color: var(--muted);
        padding-left: 12px;
        font-weight: 700;
    }
    .list-wrapper .list-item{
        font-size: 1rem;
        color:  var(--muted);
        padding-bottom: 10px;
        position: relative;

        &::before{
            content: "•";
            position: absolute;
            left: -1.2em;
            color: var(--theme-color-1);
            font-size: 1.2em;
        }
    }

    .text{
        font-size: 0.9rem;
        font-style: italic;
        color:  var(--muted);
        padding-bottom: 20px;
    }
}



@media (min-width: 1024px) {
    .page-location{
        padding: 20px 200px;
    }

    .container-fluid{
        padding: 0 180px;
    }


    #row1{

        .product-images{
            padding: 15px;
        }

        .info{
            margin-left: 4%;
        }
        .form .input-group{
            display: flex;
            justify-content: space-between;
        }
        .form .field-wrapper{
            width: 48%;
        }
    }

    #row2{

        .short-des .icon-card{
            width: 25%;
        }
    }

    #row3{
        .rv-image{
            margin: 0 auto;
            width: 80%;
        }
        .rv-image .img{
            margin: 0 auto;
            width: 80%;
            height: auto;
        }
        .text{
            width: 80%;
        }
    }
}