{% load humanize %}
{% for product in products %}
    <div class="product-wrapper col-12 col-md-6 col-lg-4">
        <a href="{% url 'product' slug=product.slug stock_no=product.stock_no %}" class="product-card">
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <button class="wishlist-btn {% if product.id|stringformat:'s' in request.session.wishlist %}active{% endif %}" 
                    data-product-id="{{ product.id }}">
                    <span class="material-symbols-outlined">favorite</span>
                </button>

            </div>
            <div class="product-name">
                <h3 class="name">{{ product.name }}</h3>
                <span class="year">{{ product.year }}</span>
            </div>
            <div class="product-price">
                <div class="starter-price">
                    <span class="sub-text">Starts from</span>
                    <h4 class="starter" id="starter">USD {{ product.down_pay|intcomma }}/month</h4>
                </div>
                <div class="full-price">
                    <span class="sub-text">Full Price</span>
                    <h4 class="price" id="discounted">USD {{ product.sale_price|intcomma }}</h4>
                    <span class="full" id="full">USD {{ product.price|intcomma }}</span>
                </div>
            </div>
            <hr class="custom-hr">
            <div class="mileage-info">
                <span class="sub-text">Mileage</span>
                <h4 class="mileage">{{ product.mileage|intcomma }}</h4>
            </div>
        </a>
    </div>
{% endfor %}